<form>
  <mat-form-field class="input">
    <input matInput placeholder="HRMax" [formControl]="hrMax">
    <mat-hint>Enter your hear rate max</mat-hint>
    <mat-error *ngIf="hrMax.hasError('min') && !hrMax.hasError('required')">
      HRMax must be greater than 150
    </mat-error>
    <mat-error *ngIf="hrMax.hasError('required')">
      HRMax is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input">
    <input matInput placeholder="HRRest" [formControl]="hrRest">
    <mat-hint>Enter your hear rate at rest</mat-hint>
    <mat-error *ngIf="hrRest.hasError('min') && !hrRest.hasError('required')">
      HRRest must be greater than 20
    </mat-error>
    <mat-error *ngIf="hrRest.hasError('required')">
      HRRest is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>

<div class="zones">
  <app-zone [hrMax]="hrMax.value" [hrRest]="hrRest.value" [maxPercentage]="100"></app-zone>
  <app-zone [hrMax]="hrMax.value" [hrRest]="hrRest.value" [maxPercentage]="90"></app-zone>
  <app-zone [hrMax]="hrMax.value" [hrRest]="hrRest.value" [maxPercentage]="80"></app-zone>
  <app-zone [hrMax]="hrMax.value" [hrRest]="hrRest.value" [maxPercentage]="70"></app-zone>
  <app-zone [hrMax]="hrMax.value" [hrRest]="hrRest.value" [maxPercentage]="60"></app-zone>
  <app-zone [hrMax]="hrMax.value" [hrRest]="hrRest.value" [maxPercentage]="50"></app-zone>
</div>
